

.mainbody h1{
    color: #FFF;
	text-align:center;
	font-size: 50px;
	letter-spacing: 8px;
}
.mainbody .head{
	background: url(../image/blog/blogall.jpg) no-repeat center center;
	background-size: cover;
	height: 800px;
	padding:300px 0 300px 0;
	margin-bottom: 100px;
}
.mainbody .head .inner{
	background-color: rgba(0,0,0,.4);
	padding:20px;
	width:20%;
	margin-left:750px;
}

#blog1 {
	background: url(../image/blog/blog_2.jpg) no-repeat center center;
	background-size: cover;
}
#blog_baizou{
	background: url(../image/blog/blog_1.jpg) no-repeat center center;
	background-size: cover;
}
#blog_meru{
	background: url(../image/blog/blog_3.jpg) no-repeat center center;
	background-size: cover;
	
}
#blog_seven1,#blog_seven2{
	background: url(../image/blog/blog_3.jpg) no-repeat center center;
	background-size: cover;
	
}
#blog_barranco{
	background: url(../image/blog/blog_2.jpg) no-repeat center center;
	background-size: cover;
	
}
#blog_rongyan{
	background: url(../image/blog/blog_6.jpg) no-repeat center center;
	background-size: cover;
	
}
.mainbody .counter{
	margin:30px auto;
}

.mainbody .content p{
	font-size: 16px;
	letter-spacing: 2px;
}
.mainbody .content h2{
	margin-bottom: 20px;
}
.mainbody .content img{
	margin:30px 0 30px 200px;
}
.mainbody .content ul li{
	font-size: 16px;
	padding:10px 0;
}

.mainbody .fa{
	font-size: 25px;
	color:#f80;
}
.mainbody .content .share{
	text-align:center;
	color: #f80;
	font-weight: bold;
	font-size: 16px;
	margin-top: 100px;
	letter-spacing: 2px;
}
.mainbody .content a{
	color: #f80;
	text-decoration: underline;
}
.mainbody .card img{
	width: 800px;
	height: 400px;
	margin-left: 150px;
}
.mainbody .blog .container h1{
	color:black;
	font-size: 40px;
	text-align: justify;
	margin:30px 0;
}
.mainbody .blog .row img{
	width:350px;
	height: 350px;
	margin-bottom: 30px;
	box-shadow:15px 15px 28px #333;
	opacity: 0.6;
}
.mainbody .blog .row img:hover{
	opacity: 1;
}
.mainbody .blog .row span{
	font-size: 16px;
	top:320px;
	margin-left: -350px;
	color:#fff;
	background: rgba(0,0,0,.5);
	width: 350px;
	height: 30px;
	line-height: 10px;
	letter-spacing: 1px;
	padding:10px;
	position: absolute;
	z-index: 2;

	
}
.mainbody .blog{
	margin-bottom: 150px;
}
.mainbody #center{
	text-align: center;
}
.mainbody .blog_share {
	margin-top: 50px; 

}